$bgcolor: #2d2c49;
$color:  #b7464e;
$btncolor: #eb9972;
body{background-color: $bgcolor}
.h1{color:$btncolor}
.logo{ border-radius: 30%;}
.boton{background-color: $btncolor;
text-decoration: none;
color:$bgcolor;
width: 200px;
height: 40px;
border-radius: 10px;}
#boton{background-color: $btncolor;
text-decoration: none;
margin-right:1em;
margin-left: 1em;
justify-self: space-between;
color:$bgcolor;
border-radius: 10px;
margin-bottom: 4px;
border-bottom-color:$btncolor;}
#boton:hover{background-color: $bgcolor;}
.boton2{background-color: $btncolor;
color:$bgcolor;
text-decoration:none;
text-align: center;
width: 200px;
border-radius: 10px;}
.registro{width: 60%;}
main{position: relative;
text-align: center;
height: 700px;}
.boton:hover{background-color: $color; color: $bgcolor;text-decoration: none;}
.escuchamos{width: 60%; text-align: center;}
.boton2:hover{ color: $bgcolor}
.navbar-collapse {flex-grow: 0;
}
.copyright{
text-align: center;
color:$color}
.image-card-logo{width: 30px;
height: 30px;
margin-left: 15px;
margin-top: 15px;}
.card .navbar{border-radius: 3%;
}
.card{
border-radius: 3%;
width:300px;
height:435px;
text-align:left;
margin-top:30px;
margin-left:15px;
margin-bottom:15px;
box-shadow: $color;
}
.card:hover{box-shadow:$btncolor;
}
.card-body{padding: 0px;
padding-bottom: 0px;
}
.card-img-top{
image-rendering:auto;
width:298px;
height:298px;
}
.navbar-toggler{border:0ch;}
.heart{width: 30px;
height: 30px;}
.favorito{float:right;}
.card-foter button{align-items: center;
justify-content: space-between;
}
.navbar{height: 80px;
}
h5{font-size :1vw;font-weight: 700;}
h7{text-align: left; font-size :1vw; font-style: oblique;}

@media (max-width:350px){.logo{height: auto;width: auto;}
    main{height: auto;text-align: center ;margin-left:10px;}
    .boton{margin-top: 4px;text-align: center}
}